<mat-card>
  <mat-card-content>
    <h4 class="
        tw-text-2xl
        tw-font-lato
        tw-text-center
        tw-font-bold
        tw-leading-normal
        tw-mt-0
        tw-mb-2
        tw-text-purple-800
      ">
      <mat-icon>lock</mat-icon> Secure Payment
    </h4>
    <div class="tw-rounded-lg tw-border-gray-600 tw-p-3">
      <form [formGroup]="form" class="tw-flex tw-flex-col tw-gap-3">
        <div class="tw-flex tw-flex-row tw-place-content-evenly tw-w-full tw-gap-5">
          <mat-form-field appearance="outline" floatLabel="always" class="tw-w-1/2">
            <mat-label>Enter amount</mat-label>
            <input formControlName="amount" id="name" type="text" matInput appTwoDigitDecmial />
            <span class="tw-font-medium tw-relative tw--top-1 tw-left-0"
              matPrefix>{{ form.value.currency }}&nbsp;</span>
            <mat-error *ngIf="form.get('amount')?.invalid">Enter a valid amount between 0.01 and 1000</mat-error>
          </mat-form-field>
          <mat-form-field floatLabel="always" appearance="outline" class="tw-w-1/2">
            <mat-label>Select Currency</mat-label>
            <mat-select formControlName="currency">
              <mat-option value="OMR">OMR</mat-option>
              <mat-option value="USD">USD</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="tw-place-content-evenly tw-w-full">
          <mat-form-field appearance="outline" floatLabel="always" class="tw-w-full">
            <mat-label>Name on card</mat-label>
            <input type="text" formControlName="name" matInput />
            <mat-error *ngIf="form.get('name')?.hasError('required')">Please enter name on card.</mat-error>
            <mat-error *ngIf="form.get('name')?.hasError('pattern')">Do not enter special charecters other than -
              (hyphen)</mat-error>
            <mat-error *ngIf="form.get('name')?.hasError('maxlength')">Please enter below 100 characters.</mat-error>
          </mat-form-field>
        </div>
        <div class="tw-place-content-evenly tw-w-full">
          <mat-form-field appearance="outline" floatLabel="always" class="tw-w-full">
            <mat-label>Card number</mat-label>
            <input type="text" formControlName="cardNo" matInput credit-card ccType="ccNo" />
            <mat-error *ngIf="form.get('cardNo')?.invalid">Please enter the 16 digit card number.</mat-error>
          </mat-form-field>
        </div>
        <div class="tw-flex tw-flex-row tw-place-content-evenly tw-w-full tw-gap-5">
          <mat-form-field appearance="outline" floatLabel="always" class="tw-w-1/4">
            <mat-label>Expiry Month</mat-label>
            <mat-select formControlName="expiryMonth">
              <mat-option [disabled]="form.value.expiryYear === yy && month <= mm" *ngFor="let month of months"
                [value]="month">
                {{ month }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('expiryMonth')?.invalid">Please select expiry month.</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always" class="tw-w-1/4">
            <mat-label>Expiry Year</mat-label>
            <mat-select (selectionChange)="yearChange()" formControlName="expiryYear">
              <mat-option *ngFor="let year of years" [value]="year">{{
                year.toString().substring(2)
              }}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('expiryYear')?.invalid">Please select expiry year.</mat-error>
          </mat-form-field>
          <mat-form-field floatLabel="always" appearance="outline" class="tw-w-1/2">
            <mat-label>Security code </mat-label>
            <input type="text" formControlName="cvv" credit-card ccType="cvv" matInput />
            <button (mouseover)="showHint = true" (mouseout)="showHint = false" type="button" mat-icon-button matSuffix
              [attr.aria-label]="'Hide password'">
              <mat-icon>help</mat-icon>
            </button>
            <mat-error *ngIf="form.get('cvv')?.invalid">Please enter the 3 digit security code.</mat-error>
            <div *ngIf="showHint" class="tw-z-10 tw-absolute tw-bottom-0 tw-right-0 tw-w-52 tw-h-32">
              <img src="assets/logo/cvv.png" class="
                  shadow-xl
                  rounded
                  max-w-full
                  h-auto
                  align-middle
                  border-none
                " />
            </div>
          </mat-form-field>
        </div>
        <div class="tw-flex tw-flex-row tw-place-content-center tw-w-full tw-gap-5">
          <mat-checkbox color="primary" formControlName="isToSave">Save card details
          </mat-checkbox>
        </div>
        <div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center">
          <div class="
              tw-animate-spin
              tw-rounded-full
              tw-h-32
              tw-w-32
              tw-border-t-2
              tw-border-b-2
              tw-border-purple-500
            "></div>
        </div>
        <div *ngIf="showSuccess" class="tw-alertcmp tw-bg-purple-100 tw-text-purple-800" role="alert">
          Your payment
          <span *ngIf="amount">of OMR {{ amount | currency: "":"" }}</span> is
          complete.
          <button type="button" (click)="hide()" class="tw-absolute tw-top-0 tw-right-0" mat-icon-button>
            <mat-icon class="tw-text-base">close</mat-icon>
          </button>
        </div>
        <div *ngIf="showErr" class="tw-alertcmp tw-bg-red-100 tw-text-red-800" role="alert">
          Your payment
          <span *ngIf="amount">of OMR {{ amount | currency: "":"" }}</span>
          failed.
          <button type="button" (click)="hide()" class="tw-absolute tw-top-0 tw-right-0" mat-icon-button>
            <mat-icon class="tw-text-base">close</mat-icon>
          </button>
        </div>
        <div class="tw-flex tw-flex-row tw-my-5 tw-place-content-evenly tw-w-full">
          <button [disabled]="!form.valid" type="button" (click)="onSubmit()" class="
              disabled:tw-cursor-not-allowed
              disabled:tw-bg-gray-400
              disabled:tw-text-gray-50
              disabled:tw-border-gray-400
              tw-font-lato
              tw-font-medium
              tw-bg-purple-800
              tw-w-1/2
              tw-rounded-full
              tw-h-10
              tw-text-gray-50
              hover:tw-bg-purple-100
              hover:tw-text-purple-800
              hover:tw-border-purple-500
              hover:tw-border-2
            ">
            Submit
          </button>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
